body {
    background-color: #f8f3d9ce;
    font-family: "Roboto";
    color: #504b38;
  }
  nav {
    background-color: #504b38;
    color: white;
    padding: 10px;
  }
  nav .navbar-brand {
    color: #f8f3d9;
    pointer-events: none;
  }
  nav .bi {
    color: #f8f3d9;
  }
  .back-icon {
    width: 32px; /* يمكنك تغيير الحجم */
    height: 32px;
    object-fit: contain;
  }
  form {
    max-width: 600px; /* يحدد أقصى عرض للفورم */
    width: 90%; /* يجعل العرض متجاوبًا مع الشاشات الصغيرة */
    margin: auto; /* يجعل الفورم في المنتصف */
    background-color:  #ebe5c2 !important;
    box-shadow: 0px 4px 10px #504b38c0;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1.5s ease-in-out forwards;
    border-radius: 10px;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .btn{
    background-color: #504b38;
    color: white;
    font-size: large;
    padding: 5px;
    border: none;
  }

  .btn:hover {
    background-color: #969078;
    color: white;
    box-shadow: 0px 5px 15px #504b38c7;
  }

 .btn:active {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
  }
  input:nth-child(1) {
    animation-delay: 0.3s;
  }
  input:nth-child(2) {
    animation-delay: 0.5s;
  }

  h1 {
    color: #504b38;
    letter-spacing: 5px;
  }
  label {
font-weight: bold;
}

@media (max-width: 768px) {
form {
width: 90%;
margin: auto;
padding: 20px;
border-radius: 0;
box-shadow: none;
}
.d-flex.justify-content-center.gap-5 {
flex-direction: column;
align-items: center;
gap: 30px;
}
}

.custom-popup {
    border-radius: 15px;
    background: linear-gradient(135deg, #504b38, #fcf9d7);
    color: #fff;
  }
  
  .custom-confirm-btn {
    background-color:#504b38 !important;
    border-radius: 8px;
    padding: 10px 20px;
  }

  .custom-success-icon::before {
    color: #8B5E3B !important; /* تغيير لون الأيقونة إلى بني */
}
  
  

  
  