 /* AddTeacher.css */
body {
    background-color: #f8f3d9ce;
    font-family: "Roboto", sans-serif;
    color: #504b38;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #504b38;
    color: white;
    padding: 15px;
    font-size: 18px;
    text-align: center;
}

nav .navbar-brand {
    color: #f8f3d9;
    pointer-events: none;
}

nav .bi {
    color: #f8f3d9;
}

.back-icon {
    width: 32px;
    height: 32px;
    object-fit: contain;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

form {
    max-width: 500px;
    width: 100%;
    background-color: #ebe5c2 !important;
    box-shadow: 0px 4px 10px #504b38c0;
    opacity: 0;
    transform: translateY(-20px);
    animation: fadeIn 1.5s ease-in-out forwards;
    border-radius: 10px;
    padding: 20px;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.btn {
    background-color: #504b38;
    color: white;
    font-size: large;
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.btn:hover {
    background-color: #969078;
    color: white;
    box-shadow: 0px 5px 15px #504b38c7;
    transform: scale(1.05);
}

.btn:active {
    transform: scale(1.1);
    transition: transform 0.1s ease-in-out;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

input:focus {
    outline: none;
    border-color: #504b38;
    box-shadow: 0px 0px 5px #504b38c7;
}
