@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model StudentTrackingSystem.DAL.Models.Subject

<div>
    <h1>Subject Details</h1>

    <div>
        <h3>Name: @Model.Name</h3>
    </div>

    <div>
        <h4>Teachers:</h4>
        <ul>
            @foreach (var teacher in Model.Teatchers)
            {
                <li>@teacher.FullName</li>
            }
        </ul>
    </div>

    <div>
        <a asp-action="Index" class="btn btn-primary">Back to List</a>
    </div>
</div>
