<!-- Views/Shared/_Layout.cshtml -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title - Student Tracking System</title>
    <!-- For CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- For JavaScript -->
    <script src="~/js/site.js"></script>
</head>
<body>
    @RenderBody()

    <!-- For CSS -->
    <link rel="stylesheet" href="~/css/site.css" />

    <!-- For JavaScript -->
    <script src="~/js/site.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>